<div class="container">
  <h1 class="well">פרטים אישיים</h1>
  <div class="col-lg-12 well">
    <div class="row">
      <form [formGroup]="personalDetailsForm" (ngSubmit)="onSubmitRegister()" class="sa-innate-form">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>שם פרטי</label>
            <input formControlName="UserFirstName" type="text" placeholder="הקלד כאן שם פרטי..." class="form-control">
            <div *ngIf="personalDetailsForm.get('UserFirstName').invalid && (personalDetailsForm.get('UserFirstName').dirty || personalDetailsForm.get('UserFirstName').touched)"
              class="alert alert-danger">
              <div *ngIf="personalDetailsForm.get('UserFirstName').errors.required">
                אנא הזן שם פרטי
              </div>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <label>שם משפחה</label>
            <input formControlName="UserLastName" type="text" placeholder="הקלד כאן שם משפחה..." class="form-control">
            <div *ngIf="personalDetailsForm.get('UserLastName').invalid && (personalDetailsForm.get('UserLastName').dirty || personalDetailsForm.get('UserLastName').touched)"
              class="alert alert-danger">
              <div *ngIf="personalDetailsForm.get('UserLastName').errors.required">
                אנא הזן שם משפחה
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">
            <label>עיר</label>
            <input formControlName="UserCity" list="cities" placeholder="הקלד כאן עיר..." class="form-control">
            <datalist id="cities">
              <option *ngFor="let obj of cities" [value]="obj.itemName"></option>
            </datalist>
            <div *ngIf="personalDetailsForm.get('UserCity').invalid && (personalDetailsForm.get('UserCity').dirty || personalDetailsForm.get('UserCity').touched)"
              class="alert alert-danger">
              <div *ngIf="personalDetailsForm.get('UserCity').errors.required">
                אנא הזן עיר
              </div>
              <div *ngIf="personalDetailsForm.get('UserCity').errors.cityCheck && !(personalDetailsForm.get('UserLastName').errors.required)">
                אנא הזן עיר מהרשימה
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-group">
            <label>כתובת</label>
            <input formControlName="UserAddress" type="text" placeholder="הקלד כאן כתובת..." class="form-control">
            <div *ngIf="personalDetailsForm.get('UserAddress').invalid && (personalDetailsForm.get('UserAddress').dirty || personalDetailsForm.get('UserAddress').touched)"
              class="alert alert-danger">
              <div *ngIf="personalDetailsForm.get('UserAddress').errors.required">
                אנא הזן כתובת
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">
            <label>מספר טלפון</label>
            <input formControlName="UserPhone1" type="text" placeholder="הקלד כאן מספר טלפון..." class="form-control">
            <div *ngIf="personalDetailsForm.get('UserPhone1').invalid && (personalDetailsForm.get('UserPhone1').dirty || personalDetailsForm.get('UserPhone1').touched)"
              class="alert alert-danger">
              <div *ngIf="personalDetailsForm.get('UserPhone1').errors.required">
                אנא הזן מספר טלפון
              </div>
              <div *ngIf="personalDetailsForm.get('UserPhone1').errors.regexCheck && !(personalDetailsForm.get('UserPhone1').errors.required)">
                מספר הטלפון שהוזן לא חוקי
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-group">
            <label>מספר טלפון נוסף</label>
            <input formControlName="UserPhone2" type="text" placeholder="הקלד כאן מספר טלפון..." class="form-control">
            <div *ngIf="personalDetailsForm.get('UserPhone2').invalid && (personalDetailsForm.get('UserPhone2').dirty || personalDetailsForm.get('UserPhone2').touched)"
              class="alert alert-danger">
              <div *ngIf="personalDetailsForm.get('UserPhone2').errors.regexCheck && !(personalDetailsForm.get('UserPhone2').errors.required)">
                מספר הטלפון שהוזן לא חוקי
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">
            <label>שם וטרינר מטפל</label>
            <input formControlName="VeterinarName" type="text" placeholder="הקלד כאן שם וטרינר מטפל..." class="form-control">
            <div *ngIf="personalDetailsForm.get('VeterinarName').invalid && (personalDetailsForm.get('VeterinarName').dirty || personalDetailsForm.get('VeterinarName').touched)"
              class="alert alert-danger">
              <div *ngIf="personalDetailsForm.get('VeterinarName').errors.required">
                אנא הזן שם וטרינר מטפל
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-group">
            <label class="align-baseline">טלפון וטרינר מטפל</label>
            <input formControlName="VeterinarPhone1" type="text" placeholder="הקלד כאן מספר טלפון..." class="form-control">
            <div *ngIf="personalDetailsForm.get('VeterinarPhone1').invalid && (personalDetailsForm.get('VeterinarPhone1').dirty || personalDetailsForm.get('VeterinarPhone1').touched)"
              class="alert alert-danger">
              <div *ngIf="personalDetailsForm.get('VeterinarPhone1').errors.required">
                אנא הזן מספר טלפון
              </div>
              <div *ngIf="personalDetailsForm.get('VeterinarPhone1').errors.regexCheck && !(personalDetailsForm.get('VeterinarPhone1').errors.required)">
                מספר הטלפון שהוזן לא חוקי
              </div>
            </div>
          </div>
        </div>
        <button [disabled]="personalDetailsForm.status === 'INVALID'" type="submit" class="updateButton btn btn-lg btn-info">עדכן!</button>
      </form>
    </div>
  </div>
</div>

<!-- <label class="control-label">מין</label>
        <div class="form-group">
          <label class="btn btn-outline-primary">
            <input type="radio" formControlName="gender" value="male"> זכר </label>
          <label class="btn btn-outline-primary">
            <input type="radio" formControlName="gender" value="female"> נקבה</label>
        </div> -->
<!-- <form>
  <div class="row">
    <div class="col-sm-6 form-group">
      <label>שם פרטי</label>
      <input type="text" placeholder="הקלד כאן שם פרטי..." class="form-control" required>
    </div>
    <div class="col-sm-6 form-group">
      <label>שם משפחה</label>
      <input type="text" placeholder="הקלד כאן שם משפחה..." class="form-control" required>
    </div>
  </div>
  <div class="form-group">
            <label>כתובת</label>
            <textarea placeholder="הקלד כאן כתובת..." rows="3" class="form-control"></textarea>
          </div>
  <div class="row">
    <div class="col-lg-6 form-group">
      <label>עיר</label>
      <input type="text" placeholder="הקלד כאן עיר..." class="form-control" required>
    </div>
    <div class="col-lg-6 form-group">
      <label>כתובת</label>
      <input type="text" placeholder="הקלד כאן כתובת..." class="form-control" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <label>תאריך לידה</label>
      <input type="date" id="birthDate" class="form-control" required>
    </div>
    <div class="col-sm-6 form-group">
      <label>Company</label>
      <input type="text" placeholder="Enter Company Name Here.." class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label>מספר טלפון</label>
    <input type="text" placeholder="הקלד כאן מספר טלפון..." class="form-control" required>
  </div>
  <div class="form-group">
    <label>כתובת אימייל</label>
    <input type="email" placeholder="הקלד כאן כתובת אימייל..." class="form-control" required>
  </div>
  <div class="form-group">
    <label class="control-label">מין</label>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <label class="radio-inline">
            <input type="radio" id="femaleRadio" value="Female">נקבה
          </label>
        </div>
        <div class="col-sm-6">
          <label class="radio-inline">
            <input type="radio" id="maleRadio" value="Male">זכר
          </label>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="updateButton btn btn-lg btn-info">עדכן!</button>
</form> -->