<div class="container">
  <div class="row">
    <div>
      <div class="form-body">
        <div class="modal-header">
          <ul class="nav nav-tabs final-login modal-title" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Login">התחבר</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Registration">הרשם</a>
            </li>
          </ul>
        </div>

        <img class="image-circle" src="https://lh3.googleUsercontent.com/-ruiRxPDtB2g/WgF2qa5gu2I/AAAAAAAABhI/EFAOBlqKl4IC3QY9oyHd8fMQa7WxQvmKgCL0BGAYYCw/h202/2017-11-07.png">

        <div class="tab-content">
          <div id="Login" class="tab-pane active">
            <div class="social-login">
              <div class="facebookButton">
                <button type="button" (click)="FacebookLogin()">
                  התחבר באמצעות Facebook
                  <i class="fa fa-facebook"></i>
                </button>
              </div>
            </div>
            <div class="innter-form">
              <form [formGroup]="loginForm" class="sa-innate-form" (ngSubmit)="onSubmitLogin()">
                <label>כתובת דואר אלקטרוני</label>
                <input formControlName="Useremail" type="email" placeholder="הקלד כאן כתובת דואר אלקטרוני...">
                <div *ngIf="loginForm.get('Useremail').invalid && (loginForm.get('Useremail').dirty || loginForm.get('Useremail').touched)"
                  class="alert alert-danger">
                  <div *ngIf="loginForm.get('Useremail').errors.regexCheck && !(loginForm.get('Useremail').errors.required)">
                    כתובת דואר אלקטרוני לא חוקית (דוגמה :bob@abc.com)
                  </div>
                </div>
                <label>סיסמא</label>
                <input formControlName="UserPaswrd" type="password" placeholder="הקלד כאן סיסמה רצויה...">
                <div *ngIf="loginForm.get('UserPaswrd').invalid && (loginForm.get('UserPaswrd').dirty || loginForm.get('UserPaswrd').touched)"
                  class="alert alert-danger">
                  <div *ngIf="loginForm.get('UserPaswrd').errors.regexCheck && !(loginForm.get('UserPaswrd').errors.required)">
                    סיסמה לא חוקית, הסיסמה חייבת להיות באורך 8 תווים ולהכיל לפחות אות קטנה, גדולה ומספר ללא תווים מיוחדים
                  </div>
                </div>
                <div *ngIf="WrongloginDetails" class="alert alert-danger">
                  פרטי התחברות שגויים אנא נסה שנית
                </div>
                <button [disabled]="loginForm.status === 'INVALID'" type="submit" class="btn">התחבר</button>
                <div>
                  <a href="">שכחתי סיסמה</a>
                </div>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>
          <div id="Registration" class="tab-pane fade">
            <div class="social-login">
              <div class="facebookButton">
                <button type="button" (click)="FacebookRegister()">
                  הרשם באמצעות Facebook
                  <i class="fa fa-facebook"></i>
                </button>
              </div>
            </div>
            <div class="innter-form">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" class="sa-innate-form">
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <label>שם פרטי</label>
                    <input formControlName="UserFirstName" type="text" placeholder="הקלד כאן שם פרטי..." class="form-control">
                    <div *ngIf="registerForm.get('UserFirstName').invalid && (registerForm.get('UserFirstName').dirty || registerForm.get('UserFirstName').touched)"
                      class="alert alert-danger">
                      <div *ngIf="registerForm.get('UserFirstName').errors.required">
                        אנא הזן שם פרטי
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 form-group">
                    <label>שם משפחה</label>
                    <input formControlName="UserLastName" type="text" placeholder="הקלד כאן שם משפחה..." class="form-control">
                    <div *ngIf="registerForm.get('UserLastName').invalid && (registerForm.get('UserLastName').dirty || registerForm.get('UserLastName').touched)"
                      class="alert alert-danger">
                      <div *ngIf="registerForm.get('UserLastName').errors.required">
                        אנא הזן שם משפחה
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <label>עיר</label>
                    <input type="text" formControlName="Usercityname" list="cities" placeholder="הקלד כאן עיר..." class="form-control">
                    <datalist id="cities">
                      <option *ngFor="let obj of cities" [value]="obj.itemName"></option>
                    </datalist>
                    <div *ngIf="registerForm.get('Usercityname').invalid && (registerForm.get('Usercityname').dirty || registerForm.get('Usercityname').touched)"
                      class="alert alert-danger">
                      <div *ngIf="registerForm.get('Usercityname').errors.required">
                        אנא הזן עיר
                      </div>
                      <div *ngIf="registerForm.get('Usercityname').errors.cityCheck && !(registerForm.get('Usercityname').errors.required)">
                        אנא הזן עיר מהרשימה
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label>כתובת</label>
                    <input formControlName="Useraddress" type="text" placeholder="הקלד כאן כתובת..." class="form-control">
                    <div *ngIf="registerForm.get('Useraddress').invalid && (registerForm.get('Useraddress').dirty || registerForm.get('Useraddress').touched)"
                      class="alert alert-danger">
                      <div *ngIf="registerForm.get('Useraddress').errors.required">
                        אנא הזן כתובת
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-6 form-group">
                    <label>תאריך לידה</label>
                    <div class="input-group date-picker">
                      <input formControlName="birthday" type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                        ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="control-label">מין</label>
                    <div class="input-group radio-btn">
                      <label class="btn btn-outline-secondary">
                        <input type="radio" formControlName="gender" value="male"> זכר
                      </label>
                      <label class="btn btn-outline-secondary">
                        <input type="radio" formControlName="gender" value="female"> נקבה
                      </label>
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <label>מספר טלפון</label>
                    <input formControlName="UserPhone1" type="text" placeholder="הקלד כאן מספר טלפון..." class="form-control">
                    <div *ngIf="registerForm.get('UserPhone1').invalid && (registerForm.get('UserPhone1').dirty || registerForm.get('UserPhone1').touched)"
                      class="alert alert-danger">
                      <div *ngIf="registerForm.get('UserPhone1').errors.required">
                        אנא הזן מספר טלפון
                      </div>
                      <div *ngIf="registerForm.get('UserPhone1').errors.regexCheck && !(registerForm.get('UserPhone1').errors.required)">
                        מספר הטלפון שהוזן לא חוקי
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="align-baseline">מספר טלפון נוסף</label>
                    <span class="align-text-top">(אופציונלי)</span>
                    <input formControlName="UserPhone2" type="text" placeholder="הקלד כאן מספר טלפון..." class="form-control">
                    <div *ngIf="registerForm.get('UserPhone2').invalid && (registerForm.get('UserPhone2').dirty || registerForm.get('UserPhone2').touched)"
                      class="alert alert-danger">
                      <div *ngIf="registerForm.get('UserPhone2').errors.regexCheck && !(registerForm.get('UserPhone2').errors.required)">
                        מספר הטלפון שהוזן לא חוקי
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <label>שם וטרינר מטפל</label>
                    <input formControlName="VeterinarName" type="text" placeholder="הקלד כאן שם וטרינר מטפל..." class="form-control">
                    <div *ngIf="registerForm.get('VeterinarName').invalid && (registerForm.get('VeterinarName').dirty || registerForm.get('VeterinarName').touched)"
                      class="alert alert-danger">
                      <div *ngIf="registerForm.get('VeterinarName').errors.required">
                        אנא הזן שם וטרינר מטפל
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="align-baseline">טלפון וטרינר מטפל</label>
                    <input formControlName="VeterinarPhone1" type="text" placeholder="הקלד כאן מספר טלפון..." class="form-control">
                    <div *ngIf="registerForm.get('VeterinarPhone1').invalid && (registerForm.get('VeterinarPhone1').dirty || registerForm.get('VeterinarPhone1').touched)"
                      class="alert alert-danger">
                      <div *ngIf="registerForm.get('VeterinarPhone1').errors.required">
                        אנא הזן מספר טלפון
                      </div>
                      <div *ngIf="registerForm.get('VeterinarPhone1').errors.regexCheck && !(registerForm.get('VeterinarPhone1').errors.required)">
                        מספר הטלפון שהוזן לא חוקי
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>כתובת דואר אלקטרוני</label>
                  <input formControlName="Useremail" type="Useremail" placeholder="הקלד כאן כתובת דואר אלקטרוני..." class="form-control">
                  <div *ngIf="registerForm.get('Useremail').invalid && (registerForm.get('Useremail').dirty || registerForm.get('Useremail').touched)"
                    class="alert alert-danger">
                    <div *ngIf="registerForm.get('Useremail').errors.required">
                      אנא הזן כתובת דואר אלקטרוני
                    </div>
                    <div *ngIf="registerForm.get('Useremail').errors.regexCheck && !(registerForm.get('Useremail').errors.required)">
                      כתובת דואר אלקטרוני לא חוקית (דוגמה :bob@abc.com)
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>סיסמה</label>
                  <input formControlName="UserPaswrd" type="password" placeholder="הקלד כאן סיסמה רצויה..." class="form-control">
                  <div *ngIf="registerForm.get('UserPaswrd').invalid && (registerForm.get('UserPaswrd').dirty || registerForm.get('UserPaswrd').touched)"
                    class="alert alert-danger">
                    <div *ngIf="registerForm.get('UserPaswrd').errors.required">
                      אנא הזן סיסמה
                    </div>
                    <div *ngIf="registerForm.get('UserPaswrd').errors.regexCheck && !(registerForm.get('UserPaswrd').errors.required)">
                      סיסמה לא חוקית, הסיסמה חייבת להיות באורך 8 תווים ולהכיל לפחות אות קטנה, גדולה ומספר ללא תווים מיוחדים
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input formControlName="accept" class="inp-cbx" id='cbx' type="checkbox" style="display: none;" checked/>
                  <label class="cbx" for='cbx'>
                    <span>
                      <svg width="12px" height="10px" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>
                     אני מוכן לקבל הודעות על מבצעים,הנחות ועדכונים
                  </label>
                </div>
                <div *ngIf="DuplicateRegisterDetails" class="alert alert-danger">
                  כתובת המייל רשומה כבר במערכת
                </div>
                <div *ngIf="WrongRegisterDetails" class="alert alert-danger">
                  אחד או יותר מהשדות ריקים
                </div>
                <button [disabled]="registerForm.status === 'INVALID'" type="submit" class="btn">הרשם</button>
                <p>By clicking, you agree to hifriends's User Agreement, Privacy Policy, and Cookie Policy.</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss" class="modal">
  <div class="modal-header">
    <h4 class="modal-title">ההרשמה בוצעה בהצלחה!</h4>
  </div>
  <div class="modal-body">
    <p> אנא התחבר למערכת</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>