body {
  display: grid;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #223254;
}

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #506EEC;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #506EEC;
  border-color: #506EEC;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

/* form */
.container {
	direction: rtl;
	text-align: right;
}
.image-circle {
    display: block;
    margin: auto;
    padding-top: 15px;
}
.form-body{
    background:#fff;
    padding:20px;
}
.login-form{
    background:rgba(255,255,255,0.8);
	padding:20px;
	border-top:3px solid#3e4043;
}
.innter-form{
	padding-top:20px;
	direction: rtl;
	text-align: right;
}
.final-login{
	width:100%;
}
.final-login li{
	width:50%;
}

.nav-tabs {
	border-bottom: none !important;
	direction: rtl;
	text-align: right;
}

.nav-tabs>li{
	color:#222 !important;
}
.nav-tabs>li>.active, .nav-tabs>li>.active:hover, .nav-tabs>li>.active:focus {
    color: #fff;
    background-color: #d14d42;
    border: none !important;
    border-bottom-color: transparent;
	border-radius:none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
	text-transform:uppercase;
	font-size:16px;
}

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login .facebookButton{
	margin:0;
	padding:0;
	list-style-type:none;
    clear:fix;
}
.social-login .facebookButton button{
	font-size:14px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
	border:1px solid#3b5998;
	background:#3b5998;
	padding:10px 25px;
	margin-top:5px;
	width: 100%;
}
.social-login .facebookButton button:hover{
	border:1px solid#243d74;
	background:#243d74;
	color:#fff;
}
.sa-innate-form input[type=text], input[type=password], input[type=email], textarea, select, email{
    font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;
	overflow:hidden; overflow-y:scroll;
}
#cities {
	font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;
	overflow:hidden; overflow-y:scroll;
	height: 10px;
}
.sa-innate-form button[type=submit]{
	border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	width: 100%;
	}
	.sa-innate-form button[type=submit]:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
	}
	
	.date-picker {
		direction: ltr;
	}
	.align-text-top {
		font-size:10px;
	}

#modal {
	direction: rtl;
	text-align: right;
}

