<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 *ngIf="dogDetails.id" class="modal-title">עריכה - {{dogDetails.name}}</h4>
    <h4 *ngIf="!dogDetails.id" class="modal-title">כלב חדש</h4>
  </div>
  <div class="modal-body" style="	text-align: right;">
    <div class="row">
      <div class="col-lg-6 form-group">
        <label>שם</label>
        <input type="text" class="form-control" [value]="dogDetails.name" placeholder="הזן את שם הכלב">
      </div>
      <div class="col-lg-6 form-group">
        <label>סוג</label>
        <input type="text" class="form-control" [value]="dogDetails.type" placeholder="הזן את סוג הכלב">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group">
        <label>שבב</label>
        <input type="number" class="form-control" [value]="dogDetails.shvav" placeholder="הזן את מספר השבב">
      </div>
      <div class="col-lg-6 form-group">
        <label>מין</label>
        <select class="custom-select" id="inputGroupSelect02">
      <!-- TODO: select gender on edit - problem: not number -->
      <option selected>בחר מין</option>
      <option value="1">זכר</option>
      <option value="2">נקבה</option>
    </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group">
        <label>תאריך לידה</label>
        <div class="input-group date-picker">
          <input class="form-control" [firstDayOfWeek]="7" [placeholder]="dogDetails.birthDate" name="dp" [(ngModel)]="birthDate" ngbDatepicker
            #date="ngbDatepicker" (click)="date.toggle()">
        </div>
      </div>
      <div class="col-lg-6 form-group">
        <label>תאריך חיסון כלבת</label>
        <div class="input-group date-picker">
          <input class="form-control" [firstDayOfWeek]="7" [placeholder]="dogDetails.vaccinationDate" name="dp" [(ngModel)]="vaccinationDate"
            ngbDatepicker #ddate="ngbDatepicker" (click)="ddate.toggle()">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group">
        <div class="form-check">
          <label>
						<input type="checkbox" name="check"> <span class="label-text">?מסורס</span>
					</label>
        </div>
        <div class="form-check">
          <label>
						<input type="checkbox" name="check"> <span class="label-text">?קופץ</span>
					</label>
        </div>
      </div>
      <div class="col-lg-6 form-group">
        <div class="form-check">
          <label>
						<input type="checkbox" name="check"> <span class="label-text">?ידידותי</span>
					</label>
        </div>
        <div class="form-check">
          <label>
						<input type="checkbox" name="check"> <span class="label-text">?חופר</span>
					</label>
        </div>
      </div>
    </div>
    <div>
      <label>הערות</label>
      <div class="input-group" dir="rtl">
        <textarea type="text" class="form-control" rows="5">
          {{ dogDetails.comments }}
        </textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="d()">ביטול</button>
    <button type="button" class="btn btn-success" (click)="saveDog()">שמור</button>
  </div>
</ng-template>

<button type="button" *ngIf="dogDetails.id" class="btn btn-info" aria-label="Right Align" (click)="sharedService.open(content); initModal();"
  placement="top" ngbTooltip="עריכה">
  <span class="fa fa-pencil fa-lg" aria-hidden="true"></span>
</button>
<button type="button" *ngIf="!dogDetails.id" style="width: 65px; height: 65px;" class="btn btn-info circle" aria-label="Right Align" (click)="sharedService.open(content); initModal();"
  placement="top" ngbTooltip="הוספת כלב">
  <span class="fa fa-plus fa-lg" aria-hidden="true" style="font-size: 2em"></span>
</button>
