<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 *ngIf="dogDetails" class="modal-title">עריכה - {{dogDetails.DogName}}</h4>
    <h4 *ngIf="!dogDetails" class="modal-title">כלב חדש</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="dogDetailForm" (ngSubmit)="onSubmitLogin()">
      <div class="input-group mb-3">
        <input type="text" formControlName="DogName" class="form-control" placeholder="הזן את שם הכלב">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">שם</span>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" formControlName="DogType" class="form-control" placeholder="הזן את סוג הכלב">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">סוג</span>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="number" formControlName="DogShvav" class="form-control" placeholder="הזן את מספר השבב">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">שבב</span>
        </div>
      </div>
      <div class="input-group mb-3">
        <input formControlName="DogJump" class="inp-cbx" id='jump' type="checkbox" style="display: none;" [checked]="dogDetails.DogJump"
        />
        <label class="cbx" for='jump'>
          <span>
            <svg width="12px" height="10px" viewbox="0 0 12 10">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
        </label>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">קופץ?</span>
        </div>
        <input formControlName="DogDig" class="inp-cbx" id='dig' type="checkbox" style="display: none;" [checked]="dogDetails.DogDig"
        />
        <label class="cbx" for='dig'>
          <span>
            <svg width="12px" height="10px" viewbox="0 0 12 10">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
        </label>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">חופר?</span>
        </div>
        <input formControlName="DogNeuter" class="inp-cbx" id='Neuter' type="checkbox" style="display: none;" [checked]="dogDetails.DogNeuter"
        />
        <label class="cbx" for='Neuter'>
          <span>
            <svg width="12px" height="10px" viewbox="0 0 12 10">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg>
          </span>
        </label>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">מסורס/מעוקרת?</span>
        </div>
      </div>
      <div class="input-group mb-3">
        <select formControlName="DogGender" class="custom-select" id="inputGroupSelect02">
          <option value="זכר">זכר</option>
          <option value="נקבה">נקבה</option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">מין</label>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input formControlName="DogBirthDate" class="form-control" [firstDayOfWeek]="7" [placeholder]="this.dogDetailForm.value.DogBirthDate" name="dp"
            [(ngModel)]="birthDate" ngbDatepicker #date="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="date.toggle()" type="button">
              <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>
        <b>:תאריך לידה </b>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input formControlName="DogRabiesVaccine" class="form-control" [firstDayOfWeek]="7" [placeholder]="dogDetails.DogRabiesVaccine"
            name="dp" [(ngModel)]="vaccinationDate" ngbDatepicker #ddate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="ddate.toggle()" type="button">
              <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>
        <b>:תאריך חיסון כלבת </b>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="d()">ביטול</button>
    <button type="button" class="btn btn-success" (click)="saveDog()">שמור</button>
  </div>
</ng-template>

<button type="button" *ngIf="dogDetails" class="btn btn-info" aria-label="Right Align" (click)="sharedService.open(content); initModal();"
  placement="top" ngbTooltip="עריכה">
  <span class="fa fa-pencil fa-lg" aria-hidden="true"></span>
</button>
<button type="button" *ngIf="!dogDetails" class="btn btn-info circle" aria-label="Right Align" (click)="sharedService.open(content); initModal();"
  placement="top" ngbTooltip="הוספת כלב">
  <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
</button>