.nav {
  direction: rtl;
}

.userName {
  color: white;
}

.home {
  width: 70%;
  height: 70%;
  border: 0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  color: white;
  border: 1px solid white;
  padding: 2% 8%;
  text-transform: uppercase;
  letter-spacing: 10%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn span {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 100;
}
.btn:before, .btn:after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.btn:before {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  background-color: white;
  border: 1px solid white;
  transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.btn:after {
  background-color: #ffd1d8;
  border: 1px solid #ffd1d8;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  transition: -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
  transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
  transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62), -webkit-transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}
.btn:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.btn:hover:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}