<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav">
      <div class="col-lg-1">
        <a class="navbar-brand" [routerLink]="homeroute" routerLinkActive="active">
          <img src="/assets/Home.png" class="home">
        </a>
      </div>
      <div class="col-lg-8">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li *ngFor="let title of headerList" class="nav-item active">
              <a class="nav-link" [routerLink]="title.route" routerLinkActive="active">{{ title.name }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="userName">
          שלום, {{ user === null ? 'אורח' : user.UserFirstName}}
        </div>
      </div>
      <div class="col-1">
        <div class="btn" *ngIf="user == null" (click)="login()">
          <span>התחבר/הרשם</span>
        </div>
        <div class="btn" *ngIf="user !== null" (click)="logout()">
          <span>התנתק</span>
        </div>
      </div>
    </nav>
  </div>
</div>