<div class="row justify-content-md-center">
  <div class="col-sm-2 form-group">
    <label>תאריך הזמנה</label>
    <label> {{reservationDetails.OrderDate}}</label>
  </div>
  <div class="col-sm-2 form-group">
    <label>תאריך הגעה</label>
    <label> {{reservationDetails.FromDate}}</label>
  </div>
  <div class="col-sm-2 form-group">
    <label>תאריך עזיבה</label>
    <label> {{reservationDetails.ToDate}}</label>
  </div>
</div>
<app-dogs-table class="dogsTable" [selectedDogs]="dogsList"></app-dogs-table>